.contact-us {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    align-items: center;
}

.cu-right {
    position: relative;

    img {
        width: 90%;
        filter: brightness(75%);
    }
}

.cu-right-text {
    position: absolute;
    top: -180px;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #C8A375;
    max-width: 350px;
    height: fit-content;
    text-align: left;

    h1 {
        font-size: 16px;
        margin: 20px 30px;
        color: white;
        font-weight: 400;
    }
}

.cu-left {
    text-align: left;
    margin: 10px 50px 10px 100px;

    h1 {
        font-weight: 600;
    }

    p {
        opacity: .6;
        line-height: 1.6;
    }
}

.cu-button {
    margin-top: 40px;

    .cu-btn-content {
        max-width: fit-content;
        border: 2px solid #C8A375;
        border-radius: 50px;

        h1 {
            color: #C8A375;
            font-size: 14px;
            margin: 15px 50px;
        }

        &:hover {
            background-color: #C8A375;
            cursor: pointer;

            h1 {
                color: white;
            }
        }
    }
}



// Responsive
@media screen and (max-width: 1200px) {
    .cu-right-text {
        top: -130px;
    }
}

@media screen and (max-width: 1080px) {
    .cu-left {
        margin: 10px 80px;
    }
}

@media screen and (max-width: 992px) {
    .contact-us {
        margin-top: 50px;
        padding: 20px;
    }
    .cu-right-text {
        top: -50px;
        max-width: 300px;
        height: fit-content;
        text-align: left;
    
        h1 {
            font-size: 14px;
            margin: 15px 20px;
        }
    }
    .cu-right p {
        font-size: 14px;
    }
    .cu-left {
        margin: 10px 20px;
    }
}

@media screen and (max-width: 768px) {
    .contact-us {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .cu-right-text {
        top: -150px;
        max-width: 250px;
    
        h1 {
            font-size: 14px;
            margin: 10px 15px;
        }
    }
    .cu-left {
        margin: 0 0 50px 0 !important;

        h1 {
            font-size: 28px;
        }
    }
}

@media screen and (max-width: 600px) {
    .cu-left {
        margin: 10px;
    }
    .cu-right-text {
        top: -100px;
    }
}

@media screen and (max-width: 360px) {
    .contact-us {
        padding: 10px;
    }
    .cu-right-text {
        position: absolute;
        top: -80px;
        max-width: 200px;
    
        h1 {
            font-size: 12px;
            margin: 10px 15px;
        }
    }
}

// // Responsive
// @media (min-width: 1025px) and (max-width: 1280px) {
//     .countries-tabs {
//         margin: 30px 400px auto 400px;
//     }
//     .european-citizenship, .caribbean-citizenship {
//         margin: 40px 20px;
//     }
// }
// @media (min-width: 768px) and (max-width: 1024px) {
//     .countries-tabs {
//         margin: 30px 250px auto 250px;
//     }
//     .ec-cities, .cc-cities {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//     }
// }

// @media (min-width: 481px) and (max-width: 767px) {
//     .countries-tabs {
//         margin: 30px 150px auto 150px;
//     }
//     .ec-cities, .cc-cities {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//     }
//     .european-citizenship, .caribbean-citizenship {
//         margin: 40px 20px;
//     }
//     .ec-special-city {
//         margin: 20px;
//         padding: 5px 15px;    
//     }
//     .special-city-name h1 {
//         font-size: 16px;
//     }
//     .special-city-info p {
//         font-size: 12px;
//     }
// }

// @media (min-width: 280px) and (max-width: 480px) {
//     .countries-tabs {
//         margin: 30px;
//     }
//     .ec-cities, .cc-cities {
//         display: grid;
//         grid-template-columns: 1fr;
//     }
//     .european-citizenship, .caribbean-citizenship {
//         margin: 40px 20px;
//     }
//     .ec-cities-content, .cc-cities-content {
//         margin: 10px !important;
//     }
//     .ec-special-city {
//         margin: 10px;  
//     }
//     .special-city-name h1 {
//         font-size: 16px;
//         margin-top: 40px;
//     }
//     .special-city-info p {
//         font-size: 14px;
//         margin-bottom: 40px;
//         margin-top: 40px;
//     }
// }