.residence-planning {
    margin-top: 80px;
}

.rp-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

// Left
.rp-left {

    img {
        width: 100%;
        height: 100%;
    }
}


// Right
.rp-right {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .rp-right-title h1 {
        font-weight: 600;
    }
}

.rp-right-content {
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    margin-right: 200px;

    .rp-content-left {
        margin-right: 100px;

        h1 {
            font-size: 18px;
            font-weight: 600;
        }

        p {
            font-size: 14px;
            line-height: 1.8;
        }
    }

    .rp-content-right {
        display: flex;
        align-items: center;

        h1 {
            font-size: 14px;
            color: #C8A375;
            margin-right: 6px;
        }
    }
}



// Responsive
@media (min-width: 1025px) and (max-width: 1280px) {
    .rp-right-content {
        display: grid;
        grid-template-columns: 1fr 100px;
        align-items: center;
        margin-right: 50px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .rp-right-content {
        display: grid;
        grid-template-columns: 1fr 100px;
        align-items: center;
        margin-right: 20px;

        .rp-content-left {
            margin-right: 50px;
        }
    }     
}

@media (min-width: 481px) and (max-width: 767px) {
    .rp-container {
        display: grid;
        grid-template-columns: 1fr;
    }  
    .rp-left img {
        width: 95%;
        height: 100%;
    }
    .rp-right {
        margin: 20px;
    }
    .rp-right-content {
        display: grid;
        grid-template-columns: 1fr 100px;
        align-items: center;
        margin-right: 0;

        .rp-content-left {
            margin-right: 50px;
        }
    } 
}

@media (min-width: 280px) and (max-width: 480px) {
    .rp-container {
        display: grid;
        grid-template-columns: 1fr;
    }  
    .rp-left img {
        width: 95%;
        height: 100%;
    }
    .rp-right {
        margin: 20px;
    }
    .rp-right-title h1 {
        font-weight: 600;
        font-size: 24px;
    }
    .rp-right-content {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-right: 0;
        margin-bottom: 20px;

        .rp-content-left {
            margin-right: 100px;
    
            h1 {
                font-size: 16px;
                font-weight: 600;
            }
    
            p {
                font-size: 12px;
                line-height: 1.8;
            }
        }

        .rp-content-left {
            margin-right: 0;
        }
    } 
}

