.about-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
                       rgba(0, 0, 0, 0.6)), url('../../../../Assets/Citizenship/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
    height: 540px;
}