.contact-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45),
                       rgba(0, 0, 0, 0.45)), url('../../../../Assets/Contact/header.png');
    background-repeat: no-repeat;
    background-size: cover;
}