.about-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.60),
                       rgba(0, 0, 0, 0.60)), url('../../../../Assets/Residency/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
    height: 540px;
}