.about-header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65),
                           rgba(0, 0, 0, 0.65)), url('../../../../Assets//About/header-pic.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 70%;
        height: 540px;
        overflow-x: hidden;
}