.footer {
    background-color: #2E2E2E;
    color: white;
    margin-top: 100px;
}

.footer-container {
    padding: 35px 120px 15px 120px;
}

.footer-logo-and-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.footer-logo {
    display: flex;
    align-items: center;

    img {
        width: 40px;
        margin-right: 10px;
    }

    h1 {
        font-weight: 500;
        font-size: 30px;
    }
}

.footer-contact {
    display: flex;
    align-items: center;
    font-weight: 400;
}

.footer-contact-email {
    display: flex;
    align-items: center;
    margin-right: 20px;

    h5 {
        font-weight: 400;
        margin-left: 10px; 
    }
}

.footer-contact-phone {
    display: flex;
    align-items: center;

    h5 {
        font-weight: 400; 
        margin-left: 10px; 
    }
}

.footer-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: left;
    margin-top: 35px;

    .column-content {
        margin-left: 50px;
        
        h4 {
            text-transform: uppercase;
            font-size: 14px;
        }

        p {
            color: white;
            opacity: 0.7;
            font-size: 13px;
            line-height: 1;
        }
    }
}


// -------------------------------------

.footer-subscribe-and-social {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-top: 75px;
}

.footer-subscribe {
    display: flex;
    align-items: center;

    h1 {
        font-size: 14px;
    }

    .subscribe-field {
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px;
        margin-left: 35px;

        input {
            background-color: transparent;
            border: 0;
            outline: none;
            margin: auto 15px;
        }

        button {
            background-color: #C8A375;
            border: 0;
            border-radius: 5px;

            h4 {
                font-size: 14px;
                font-weight: 400;
                color: white;
                margin: 10px 35px;
            }
        }
    }
}

.footer-social {
    display: flex;
    align-items: center;
    font-weight: 400;
}

.social-btn {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    opacity: 0.7;
}

hr {
    opacity: 0.2;
    margin: 40px auto 8px auto;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-bottom-content {

        span {
            opacity: 0.7;
            margin: auto 10px;
        }
        
        h4 {
            font-size: 12px;
            font-weight: 400;
            opacity: 0.7;
        }

        img {
            width: 30px;
        }
    }
}



// Responsive
@media screen and (max-width: 1300px) {
    .footer-container {
        padding: 35px 100px 15px 100px;
    }
}

@media screen and (max-width: 1150px) {
    .footer-container {
        padding: 35px 80px 15px 80px;
    }
}

@media screen and (max-width: 1080px) {
    .footer-container {
        padding: 35px 60px 15px 60px;
    }
}

@media screen and (max-width: 992px) {
    .footer-columns {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .footer-subscribe {
        display: grid;
        grid-template-columns: auto;
        text-align: left;
    }
    .subscribe-field {
        margin-left: 0 !important;
        margin-top: 10px;
    }
    .footer-social {
        margin-top: 30px;
    }
    .social-btn {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .footer-contact {
        display: grid;
        grid-template-columns: auto; 
    }
    .footer-contact-email h5 {
        margin-top: 10px;
        margin-bottom: 10px;
    } 
    .footer-contact-phone h5 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .footer-columns {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 665px) {
    .footer-container {
        padding: 35px 40px 15px 40px;
    }
    .footer-subscribe-and-social {
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-subscribe .subscribe-field button {
        float: right;
    }
}

@media screen and (max-width: 640px) {
    .footer-bottom {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media screen and (max-width: 585px) {
    .footer-logo-and-contact {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .column-content {
        margin-left: 25px !important;
    }
}

@media screen and (max-width: 430px) {
    .footer-container {
        padding: 35px 30px 15px 30px;
    }
    .column-content {
        margin-left: 10px !important;
    }
    .subscribe-field input {
        margin: auto 0 !important;
    }
    .subscribe-field {
        
        button h4 {
            margin: 10px 15px !important;
        }
    }
}

@media screen and (max-width: 400px) {
    .footer-columns {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media screen and (max-width: 340px) {
    .footer-logo {
    
        img {
            width: 30px;
            margin-right: 10px;
        }
    
        h1 {
            font-size: 25px;
        }
    }
    .column-content {
        margin-left: 0 !important;
    }
    .subscribe-field input {
        margin: auto !important;
        width: 100%;
    }
    .footer-subscribe .subscribe-field button {
        width: 100%;
        margin-top: 12px;
    }
    .subscribe-field {
        
        button h4 {
            margin: 8px 12px !important;
        }
    }
}
